In [1]:
import torch
import torch.nn as nn
import pandas as pd
import numpy as np
import torch.nn.functional as F
from sklearn import preprocessing 
import torch.utils.data as utils
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelBinarizer
import torchvision

In [2]:
test_dataset = pd.read_csv('./dataset/kaggle/test.csv',sep=',')

train_dataset = pd.read_csv('./dataset/kaggle/train.csv',sep=',')


test_dataset = test_dataset.drop('Id',axis=1)
label = train_dataset.SalePrice
train_dataset = train_dataset.drop(['SalePrice','Id'],axis=1)

In [3]:
#test_dataset.KitchenQual.value_counts().to_frame()

In [4]:
def changeNanCategorical(dataset):
    categorical = ['Alley','FireplaceQu','Fence','MiscFeature','PoolQC','GarageQual','GarageFinish','GarageType','GarageCond','BsmtQual','BsmtCond','BsmtFinType1','BsmtFinType2','BsmtExposure']
    for col in categorical:
        dataset[col].fillna('NA', inplace=True)
    return dataset

In [5]:
def changeNanNumerical(dataset,y):
    for i in range(y):
        #print(test_dataset.isna().sum().sort_values()[-18:-1].to_frame().index[i])
        col = dataset.isna().sum().sort_values()[-(y+2):-1].to_frame().index[i]
        dataset[col].fillna(dataset[col].value_counts().to_frame().index[0],inplace=True)
    return dataset

In [6]:
test_dataset.isna().sum().sort_values().to_frame()

                0
MSSubClass      0
Heating         0
CentralAir      0
Electrical      0
1stFlrSF        0
...           ...
FireplaceQu   730
Fence        1169
Alley        1352
MiscFeature  1408
PoolQC       1456

[79 rows x 1 columns]

In [7]:
test_dataset = changeNanCategorical(test_dataset)
#y = test_dataset.isna().sum().sort_values().to_frame()
test_dataset = changeNanNumerical(test_dataset,78)
test_dataset.LotFrontage.fillna(test_dataset.LotFrontage.value_counts().to_frame().index[0],inplace=True)
test_dataset.GarageYrBlt.fillna(test_dataset.GarageYrBlt.value_counts().to_frame().index[0],inplace=True)

In [8]:
test_dataset.isna().sum().sort_values().to_frame()

               0
MSSubClass     0
FireplaceQu    0
Fireplaces     0
Functional     0
TotRmsAbvGrd   0
...           ..
Exterior2nd    0
Exterior1st    0
RoofMatl       0
Foundation     0
SaleCondition  0

[79 rows x 1 columns]

In [9]:
test_dataset

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,20,RH,80.0,11622,Pave,NA,Reg,Lvl,AllPub,Inside,...,120,0,NA,MnPrv,NA,0,6,2010,WD,Normal
1,20,RL,81.0,14267,Pave,NA,IR1,Lvl,AllPub,Corner,...,0,0,NA,NA,Gar2,12500,6,2010,WD,Normal
2,60,RL,74.0,13830,Pave,NA,IR1,Lvl,AllPub,Inside,...,0,0,NA,MnPrv,NA,0,3,2010,WD,Normal
3,60,RL,78.0,9978,Pave,NA,IR1,Lvl,AllPub,Inside,...,0,0,NA,NA,NA,0,6,2010,WD,Normal
4,120,RL,43.0,5005,Pave,NA,IR1,HLS,AllPub,Inside,...,144,0,NA,NA,NA,0,1,2010,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,160,RM,21.0,1936,Pave,NA,Reg,Lvl,AllPub,Inside,...,0,0,NA,NA,NA,0,6,2006,WD,Normal
1455,160,RM,21.0,1894,Pave,NA,Reg,Lvl,AllPub,Inside,...,0,0,NA,NA,NA,0,4,2006,WD,Abnorml
1456,20,RL,160.0,20000,Pave,NA,Reg,Lvl,AllPub,Inside,...,0,0,NA,NA,NA,0,9,2006,WD,Abnorml
1457,85,RL,62.0,10441,Pave,NA,Reg,Lvl,AllPub,Inside,...,0,0,NA,MnPrv,Shed,700,7,2006,WD,Normal
1458,60,RL,74.0,9627,Pave,NA,Reg,Lvl,AllPub,Inside,...,0,0,NA,NA,NA,0,11,2006,WD,Normal

In [10]:
train_dataset.isna().sum().sort_values()[-19:-1]

Electrical         1
MasVnrType         8
MasVnrArea         8
BsmtQual          37
BsmtCond          37
BsmtFinType1      37
BsmtFinType2      38
BsmtExposure      38
GarageQual        81
GarageFinish      81
GarageYrBlt       81
GarageType        81
GarageCond        81
LotFrontage      259
FireplaceQu      690
Fence           1179
Alley           1369
MiscFeature     1406
dtype: int64

In [11]:
train_dataset = changeNanCategorical(train_dataset)

In [12]:
train_dataset.isna().sum().sort_values()[-79:-1]

MSSubClass       0
Fireplaces       0
Functional       0
TotRmsAbvGrd     0
KitchenQual      0
                ..
Foundation       0
Electrical       1
MasVnrArea       8
MasVnrType       8
GarageYrBlt     81
Length: 78, dtype: int64

In [13]:
train_dataset = changeNanNumerical(train_dataset,78)
train_dataset.LotFrontage.fillna(train_dataset.LotFrontage.value_counts().to_frame().index[0],inplace=True)

In [14]:
train_dataset.isna().sum().sort_values().to_frame()

               0
MSSubClass     0
FireplaceQu    0
Fireplaces     0
Functional     0
TotRmsAbvGrd   0
...           ..
Exterior2nd    0
Exterior1st    0
RoofMatl       0
Foundation     0
SaleCondition  0

[79 rows x 1 columns]

In [15]:
# train_dataset.isna().sum().sort_values()[-19:-1]
# train_dataset.Electrical.isna().value_counts()
# train_dataset.GarageYrBlt.value_counts()
# train_dataset["GarageYrBlt"].value_counts().to_frame().index[0]

In [16]:
def workWithNanTrain(train_dataset):
    train_dataset.MasVnrArea.fillna(0,inplace=True)                  # This has int values so replacing NA with 0
    train_dataset.Electrical.fillna('SBrkr',inplace=True)            # This is the maximum present 
    for col in ['MasVnrType','BsmtQual','GarageYrBlt','Alley','PoolQC','Fence','MiscFeature','BsmtCond','BsmtFinType1','BsmtFinType2','BsmtExposure','GarageQual','GarageFinish','GarageType','GarageCond']:
        train_dataset[col].fillna('NA',inplace=True)
    train_dataset['LotFrontage'].fillna(train_dataset["LotFrontage"].value_counts().to_frame().index[0], inplace=True)     # Replacing with maximum
    train_dataset['FireplaceQu'].fillna(train_dataset["FireplaceQu"].value_counts().to_frame().index[0], inplace=True)     # Replacing with maximum
    #train_dataset['GarageYrBlt'].fillna(train_dataset["GarageYrBlt"].value_counts().to_frame().index[0], inplace=True)     # Replacing with maximum
    return train_dataset
#train_dataset = workWithNanTrain(train_dataset)

In [17]:
train_dataset

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,60,RL,65.0,8450,Pave,NA,Reg,Lvl,AllPub,Inside,...,0,0,NA,NA,NA,0,2,2008,WD,Normal
1,20,RL,80.0,9600,Pave,NA,Reg,Lvl,AllPub,FR2,...,0,0,NA,NA,NA,0,5,2007,WD,Normal
2,60,RL,68.0,11250,Pave,NA,IR1,Lvl,AllPub,Inside,...,0,0,NA,NA,NA,0,9,2008,WD,Normal
3,70,RL,60.0,9550,Pave,NA,IR1,Lvl,AllPub,Corner,...,0,0,NA,NA,NA,0,2,2006,WD,Abnorml
4,60,RL,84.0,14260,Pave,NA,IR1,Lvl,AllPub,FR2,...,0,0,NA,NA,NA,0,12,2008,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,60,RL,62.0,7917,Pave,NA,Reg,Lvl,AllPub,Inside,...,0,0,NA,NA,NA,0,8,2007,WD,Normal
1456,20,RL,85.0,13175,Pave,NA,Reg,Lvl,AllPub,Inside,...,0,0,NA,MnPrv,NA,0,2,2010,WD,Normal
1457,70,RL,66.0,9042,Pave,NA,Reg,Lvl,AllPub,Inside,...,0,0,NA,GdPrv,Shed,2500,5,2010,WD,Normal
1458,20,RL,68.0,9717,Pave,NA,Reg,Lvl,AllPub,Inside,...,0,0,NA,NA,NA,0,4,2010,WD,Normal
1459,20,RL,75.0,9937,Pave,NA,Reg,Lvl,AllPub,Inside,...,0,0,NA,NA,NA,0,6,2008,WD,Normal

In [18]:
# numerical=['GarageCars','GarageArea','TotalBsmtSF','BsmtUnfSF','BsmtFinSF1','BsmtFinSF2','BsmtFullBath','BsmtHalfBath']
# train_dataset[numerical].head()

In [19]:
test_dataset

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,20,RH,80.0,11622,Pave,NA,Reg,Lvl,AllPub,Inside,...,120,0,NA,MnPrv,NA,0,6,2010,WD,Normal
1,20,RL,81.0,14267,Pave,NA,IR1,Lvl,AllPub,Corner,...,0,0,NA,NA,Gar2,12500,6,2010,WD,Normal
2,60,RL,74.0,13830,Pave,NA,IR1,Lvl,AllPub,Inside,...,0,0,NA,MnPrv,NA,0,3,2010,WD,Normal
3,60,RL,78.0,9978,Pave,NA,IR1,Lvl,AllPub,Inside,...,0,0,NA,NA,NA,0,6,2010,WD,Normal
4,120,RL,43.0,5005,Pave,NA,IR1,HLS,AllPub,Inside,...,144,0,NA,NA,NA,0,1,2010,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,160,RM,21.0,1936,Pave,NA,Reg,Lvl,AllPub,Inside,...,0,0,NA,NA,NA,0,6,2006,WD,Normal
1455,160,RM,21.0,1894,Pave,NA,Reg,Lvl,AllPub,Inside,...,0,0,NA,NA,NA,0,4,2006,WD,Abnorml
1456,20,RL,160.0,20000,Pave,NA,Reg,Lvl,AllPub,Inside,...,0,0,NA,NA,NA,0,9,2006,WD,Abnorml
1457,85,RL,62.0,10441,Pave,NA,Reg,Lvl,AllPub,Inside,...,0,0,NA,MnPrv,Shed,700,7,2006,WD,Normal
1458,60,RL,74.0,9627,Pave,NA,Reg,Lvl,AllPub,Inside,...,0,0,NA,NA,NA,0,11,2006,WD,Normal

In [20]:
def changeStrColInOneHotEncoding(dataset):
    for col in dataset.columns:
        if isinstance(dataset[col].unique()[0], str):
            # Get one hot encoding of columns B
            one_hot = pd.get_dummies(dataset[col],prefix=str(col+"_"))
            # Drop column B as it is now encoded
            dataset = dataset.drop(col,axis = 1)
            # Join the encoded df
            dataset = dataset.join(one_hot)
    return dataset
train_dataset = changeStrColInOneHotEncoding(train_dataset)

In [21]:
test_dataset = changeStrColInOneHotEncoding(test_dataset)

In [22]:
train_column = train_dataset.columns

test_column = test_dataset.columns

diff_column = train_column.difference(test_column).values.tolist()

for i in diff_column:
    test_dataset[i] = 0.01

In [23]:
train_dataset = train_dataset.sort_index(axis=1)
train_dataset

,1stFlrSF,2ndFlrSF,3SsnPorch,Alley__Grvl,Alley__NA,Alley__Pave,BedroomAbvGr,BldgType__1Fam,BldgType__2fmCon,BldgType__Duplex,...,Street__Grvl,Street__Pave,TotRmsAbvGrd,TotalBsmtSF,Utilities__AllPub,Utilities__NoSeWa,WoodDeckSF,YearBuilt,YearRemodAdd,YrSold
0,856,854,0,0,1,0,3,1,0,0,...,0,1,8,856,1,0,0,2003,2003,2008
1,1262,0,0,0,1,0,3,1,0,0,...,0,1,6,1262,1,0,298,1976,1976,2007
2,920,866,0,0,1,0,3,1,0,0,...,0,1,6,920,1,0,0,2001,2002,2008
3,961,756,0,0,1,0,3,1,0,0,...,0,1,7,756,1,0,0,1915,1970,2006
4,1145,1053,0,0,1,0,4,1,0,0,...,0,1,9,1145,1,0,192,2000,2000,2008
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,953,694,0,0,1,0,3,1,0,0,...,0,1,7,953,1,0,0,1999,2000,2007
1456,2073,0,0,0,1,0,3,1,0,0,...,0,1,7,1542,1,0,349,1978,1988,2010
1457,1188,1152,0,0,1,0,4,1,0,0,...,0,1,9,1152,1,0,0,1941,2006,2010
1458,1078,0,0,0,1,0,2,1,0,0,...,0,1,5,1078,1,0,366,1950,1996,2010
1459,1256,0,0,0,1,0,3,1,0,0,...,0,1,6,1256,1,0,736,1965,1965,2008

In [24]:
#train_dataset.where(train_dataset=='NA')

In [25]:
test_dataset = test_dataset.sort_index(axis=1)
test_dataset

,1stFlrSF,2ndFlrSF,3SsnPorch,Alley__Grvl,Alley__NA,Alley__Pave,BedroomAbvGr,BldgType__1Fam,BldgType__2fmCon,BldgType__Duplex,...,Street__Grvl,Street__Pave,TotRmsAbvGrd,TotalBsmtSF,Utilities__AllPub,Utilities__NoSeWa,WoodDeckSF,YearBuilt,YearRemodAdd,YrSold
0,896,0,0,0,1,0,2,1,0,0,...,0,1,5,882.0,1,0.01,140,1961,1961,2010
1,1329,0,0,0,1,0,3,1,0,0,...,0,1,6,1329.0,1,0.01,393,1958,1958,2010
2,928,701,0,0,1,0,3,1,0,0,...,0,1,6,928.0,1,0.01,212,1997,1998,2010
3,926,678,0,0,1,0,3,1,0,0,...,0,1,7,926.0,1,0.01,360,1998,1998,2010
4,1280,0,0,0,1,0,2,0,0,0,...,0,1,5,1280.0,1,0.01,0,1992,1992,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,546,546,0,0,1,0,3,0,0,0,...,0,1,5,546.0,1,0.01,0,1970,1970,2006
1455,546,546,0,0,1,0,3,0,0,0,...,0,1,6,546.0,1,0.01,0,1970,1970,2006
1456,1224,0,0,0,1,0,4,1,0,0,...,0,1,7,1224.0,1,0.01,474,1960,1996,2006
1457,970,0,0,0,1,0,3,1,0,0,...,0,1,6,912.0,1,0.01,80,1992,1992,2006
1458,996,1004,0,0,1,0,3,1,0,0,...,0,1,9,996.0,1,0.01,190,1993,1994,2006

In [26]:
Xxx = train_dataset.values

In [27]:
train_dataset.GarageYrBlt

0       2003.0
1       1976.0
2       2001.0
3       1998.0
4       2000.0
         ...
1455    1999.0
1456    1978.0
1457    1941.0
1458    1950.0
1459    1965.0
Name: GarageYrBlt, Length: 1460, dtype: float64

In [28]:
train_dataset.iloc[:,162]

0       2003.0
1       1976.0
2       2001.0
3       1998.0
4       2000.0
         ...
1455    1999.0
1456    1978.0
1457    1941.0
1458    1950.0
1459    1965.0
Name: GarageYrBlt, Length: 1460, dtype: float64

In [29]:
test_dataset

,1stFlrSF,2ndFlrSF,3SsnPorch,Alley__Grvl,Alley__NA,Alley__Pave,BedroomAbvGr,BldgType__1Fam,BldgType__2fmCon,BldgType__Duplex,...,Street__Grvl,Street__Pave,TotRmsAbvGrd,TotalBsmtSF,Utilities__AllPub,Utilities__NoSeWa,WoodDeckSF,YearBuilt,YearRemodAdd,YrSold
0,896,0,0,0,1,0,2,1,0,0,...,0,1,5,882.0,1,0.01,140,1961,1961,2010
1,1329,0,0,0,1,0,3,1,0,0,...,0,1,6,1329.0,1,0.01,393,1958,1958,2010
2,928,701,0,0,1,0,3,1,0,0,...,0,1,6,928.0,1,0.01,212,1997,1998,2010
3,926,678,0,0,1,0,3,1,0,0,...,0,1,7,926.0,1,0.01,360,1998,1998,2010
4,1280,0,0,0,1,0,2,0,0,0,...,0,1,5,1280.0,1,0.01,0,1992,1992,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,546,546,0,0,1,0,3,0,0,0,...,0,1,5,546.0,1,0.01,0,1970,1970,2006
1455,546,546,0,0,1,0,3,0,0,0,...,0,1,6,546.0,1,0.01,0,1970,1970,2006
1456,1224,0,0,0,1,0,4,1,0,0,...,0,1,7,1224.0,1,0.01,474,1960,1996,2006
1457,970,0,0,0,1,0,3,1,0,0,...,0,1,6,912.0,1,0.01,80,1992,1992,2006
1458,996,1004,0,0,1,0,3,1,0,0,...,0,1,9,996.0,1,0.01,190,1993,1994,2006

In [30]:
# train_dataset.
np.where(Xxx=='NA')

/home/ritesh/venv/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison

(array([], dtype=int64),)

In [31]:
# Xxx[1453][162]

In [32]:
#train_dataset = train_dataset.replace('NA',0.1)

In [33]:
#train_dataset.std()

In [34]:
train_dataset = (train_dataset - train_dataset.mean())/train_dataset.std()

In [35]:
train_dataset.isna()

,1stFlrSF,2ndFlrSF,3SsnPorch,Alley__Grvl,Alley__NA,Alley__Pave,BedroomAbvGr,BldgType__1Fam,BldgType__2fmCon,BldgType__Duplex,...,Street__Grvl,Street__Pave,TotRmsAbvGrd,TotalBsmtSF,Utilities__AllPub,Utilities__NoSeWa,WoodDeckSF,YearBuilt,YearRemodAdd,YrSold
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1456,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1457,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1458,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1459,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [36]:
# train_dataset = train_dataset.values#.astype(np.float)
# #train_dataset[train_dataset=='NA'] = 0

# train_dataset = train_dataset.astype(np.float)
# #train_dataset = (train_dataset - train_dataset.mean())/.std(train_dataset)
# label = label.values.astype(np.float)

In [37]:
# from sklearn.neural_network import MLPRegressor

# mlp = MLPRegressor(hidden_layer_sizes=(50), activation='relu', solver='adam', max_iter=50,validation_fraction=0.1)
# mlp.fit(train_dataset ,label)

In [38]:
# test_dataset = test_dataset.astype(np.float)
# #predict_train = mlp.predict(train_dataset)
# predict_test = mlp.predict(test_dataset)

In [39]:
# predict_test

In [40]:
# label

In [41]:
train_dataset = (train_dataset - train_dataset.mean())/train_dataset.std()
train_dataset = train_dataset.values#.astype(np.float)
#train_dataset[train_dataset=='NA'] = 0

train_dataset = train_dataset.astype(np.float)
#train_dataset = (train_dataset - train_dataset.mean())/.std(train_dataset)
label = label.values.astype(np.float)

torch_tensor = torch.tensor(train_dataset)
torch_tensor = torch_tensor.type(torch.FloatTensor)

label_tensor = torch.tensor(label)
label_tensor =  label_tensor.type(torch.FloatTensor)

print(label_tensor.shape)

tensor_x,tensor_y = torch_tensor,label_tensor
my_dataset = utils.TensorDataset(tensor_x,tensor_y) # create your datset
train_loader = utils.DataLoader(my_dataset,batch_size=1) # create your dataloader

torch.Size([1460])

In [42]:
def init_weights(m):
    if type(m) == nn.Linear:
        torch.nn.init.xavier_uniform_(m.weight)
        m.bias.data.fill_(2)

In [43]:
class Net(nn.Module):
    def __init__(self,size):
        super(Net, self).__init__()
        self.fc1 = nn.Linear(size, 1000)  
        #self.fc2 = nn.Linear(512, 128)
        #self.fc3 = nn.Linear(128, 16)
        self.fc4 = nn.Linear(1000,1)

    def forward(self, x):
        x = F.relu(self.fc1(x))
        #x = F.relu(self.fc2(x))
        #x = F.relu(self.fc3(x))
        x = self.fc4(x)
        return x


model = Net(tensor_x.shape[1])
model.apply(init_weights)
print(model)

Net(
  (fc1): Linear(in_features=302, out_features=1000, bias=True)
  (fc4): Linear(in_features=1000, out_features=1, bias=True)
)

In [44]:
#model = model.cuda()

In [45]:
criterion = nn.MSELoss()
optimizer = torch.optim.Adam(model.parameters(), lr=0.001)

In [ ]:
for epoch in range(10000):
    ave_loss=0.0
    
    for i,data in enumerate(train_loader,0):
        inputs,target =data
        #print(target)
        inputs = inputs.float()
        #print(inputs.shape)
        inputs = inputs.view(-1,302)
        #print(inputs.shape)
        target = target.float()
        #print(target.shape)
        optimizer.zero_grad()
        output=model(inputs)
        #print(output)
        output = output.squeeze(1)
        #print("Output shape",output.shape)
        #print("Target shape",target.shape)
        loss=criterion(output,target)
        loss.backward()
        optimizer.step()
        ave_loss+=loss.item()
    print("Iter ",epoch," loss : ",ave_loss/train_dataset.shape[0])
        #print(i," ",loss)
#         if i%200==0:    # print every 200 mini-batches
#             print('[%d, %5d] loss: %.3f' %
#                   (epoch + 1, i + 1, ave_loss / 100))
#             ave_loss = 0.0

Iter  0  loss :  35767144423.45206
Iter  1  loss :  22047728722.652054
Iter  2  loss :  11874022669.325655
Iter  3  loss :  8564046300.764618
Iter  4  loss :  7487194003.563354

In [ ]:
torch_tensor = torch.tensor(test_dataset)
tensor_x = torch_tensor.type(torch.FloatTensor)
my_dataset = utils.TensorDataset(tensor_x) # create your datset
test_loader = utils.DataLoader(my_dataset,batch_size=1) # create your dataloader
predict_test = []
with torch.no_grad():
    for inputs in test_loader:
        inputs=torch.from_numpy(np.array(inputs))
        outputs=model(inputs)
        predict_test.append(outputs.numpy())

In [ ]:
test_df = pd.DataFrame(columns=['Id', 'SalePrice'])

test_dataset1 = pd.read_csv('./dataset/kaggle/test.csv',sep=',')
test_df['Id'] = test_dataset1.Id
test_df['SalePrice'] = predict_test

test_df.to_csv("submission.csv",index=False)